{% extends 'base.html' %}

{% block title %}
    Collection of Books
{% endblock %}
{% set nav = "book-collections"%}
{% block content %}
    <div class="row justify-content-center">
    <div class="col-lg-6" style="margin-bottom: 20px;">
        <a href="/own-all" class="btn btn-primary btn-block">拥有全部书的图书馆</a>
    </div>
</div>
{% for collection in collections %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>{{ collection[0] }}</h4>
            </div>
            <p class="text-info ">
               <text>Library:</text>  {{ collection[1] }}
            </p>
            <p class="text-info ">
               <text>Library Address:</text>  {{ collection[2] }}
            </p>
            <p class="text-info ">
               <text>Amount:</text>  {{ collection[3] }}
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
