{% extends 'base.html' %}

{% block title %}
    Edit
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>Edit Publisher</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method="post" action="/edit-publisher?publisher_id={{ publisher[0] }}">
                            <div class="form-group">
                                <p class="text-muted m-b-15 f-s-12">Publisher Name</p>
                                <input name="p_name" type="text" value="{{ publisher[1] }}"
                                       class="form-control input-default" required="required">
                            </div>

                            <div class="form-group">
                                <p class="text-muted m-b-15 f-s-12">Location</p>
                                <input name="p_location" type="text" value="{{ publisher[2] }}"
                                       class="form-control input-default"
                                       required="required">
                            </div>

                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
