{% extends 'base.html' %}

{% block title %}
    Editor
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-lg-6" style="margin-bottom: 20px;">
        <a href="/create-editor" class="btn btn-primary btn-block">Add New Editor</a>
    </div>
</div>
{% for editor in editors %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>{{ editor[2] }}<text>. </text>{{ editor[1] }}</h4>
            </div>
{#            <p class="text-muted ">#}
{#               <text>Title:</text> {{ editor['editor_title'] }}#}
{#            </p>#}
            <p class="text-muted ">
               <text>Editor ID:</text>  {{ editor[0] }}
            </p>
            <p class="text-muted ">
               <text>Publisher ID:</text>  {{ editor[3] }}
            </p>
            <div class="button-list">
                <div class="btn-group">
                    <a href="/edit-editor?editor_id={{ editor[0] }}" class="btn btn-primary">Edit</a>
                    <a href="/delete-editor?editor_id={{ editor[0] }}" onclick="return confirm('delete?')" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
