{% extends 'base.html' %}

{% block title %}
    {% if error == 'no' %}
        Not Find
    {% else %}
        Reviews of {{ answers[0][0] }}
    {% endif %}
{% endblock %}
{% set nav = "reader"%}
{% block content %}
    {% if error == 'no' %}
        <div class="row justify-content-center">
            <div class="alert alert-danger" role="alert">Not Found</div>
        </div>
    {% else %}
        {% for answer in answers %}
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>{{ answer[3] }}</h4>
                        </div>
                        <p class="text-muted ">
                            <text>Date:</text>
                            {{ answer[1] }}
                        </p>
                        <p class="text-muted ">
                            <text>Content:</text>
                            {{ answer[2] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
